name: CI

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches: [main]
  push:
    branches: [main]

jobs:
  typos:
    name: "Check Typos"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check typos
        uses: crate-ci/typos@master

  lint-build-test:
    name: "Lint, Build & Test"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.1"

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest

      - name: Build Examples
        run: |
          go build -v ./examples/server
          go build -v ./examples/client

      - name: Run Tests
        run: go test -v ./...

  benchmark:
    name: "Benchmark"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: benchmark
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.1"

      - name: Run golangci-lint on benchmark
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          working-directory: benchmark

      - name: Run Tests
        run: go test -v ./...

      - name: Run benchmark suite
        run: make report
