name: CI

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches: [main]
  push:
    branches: [main]

jobs:
  lint-build-test:
    name: "Lint, Build & Test"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.1"

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest

      - name: Build Examples
        run: |
          go build -v ./examples/server
          go build -v ./examples/client

      - name: Run Tests with Coverage
        run: go test -v -cover -coverprofile=coverage.txt ./...

      - name: Archive code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage
          path: coverage.txt
          retention-days: 7 # Keep artifacts for 7 days

  code_coverage:
    name: "Code coverage report"
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    needs: lint-build-test # Wait for tests to complete
    permissions:
      contents: read
      actions: read # to download code coverage results
      pull-requests: write # to comment on PR with coverage report
    steps:
      - name: Generate coverage report
        uses: fgrosse/go-coverage-report@v1.1.1
        with:
          coverage-artifact-name: "code-coverage"
          coverage-file-name: "coverage.txt"
