name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.1"

      - name: Run Tests
        run: go test ./...

      # - name: Run golangci-lint
      #   uses: golangci/golangci-lint-action@v8
      #   with:
      #     version: latest

      - name: Build Examples
        run: |
          go build -v ./examples/server
          go build -v ./examples/client
